/* h1{
    color: blue;
} */

/* 

Esto es un comentario en CSS
Ctrl + K Ctrl + U

*/

body{
    padding: 1%;
}

/* Asi podemos modificar varias etiquetas distinas */

/* h2, p{
    color: red;
    font-size: 30px;

}
 */

/* Asi podemos modificar solo los elementos que tengan
la clase titulo */
.titulo{
    color: yellow;
    background-color: black;


}

.negrita{
    font-weight: bold;

}