/* Selector universal */
* {
    background-color: black;
    color: white;
}


/* h1{
    color: blue;
} */

/* 

Esto es un comentario en CSS
Ctrl + K Ctrl + U

*/

/*
 .orbitron {
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 40px;
  font-style: normal;
} 
*/

body {
    padding: 1%;
    font-family: lato;
}

/* Asi podemos modificar varias etiquetas distinas */

/* h2, p{
    color: red;
    font-size: 30px;

}
 */

h2{
  font-family: "Orbitron", sans-serif;
}


/* Asi podemos modificar solo los elementos que tengan
la clase titulo */
.titulo {
    color: green;
    background-color: black;


}

/* Creo una clase en CSS y desp lo aplico al html */
.negrita {
    font-weight: bold;

}

/* Selector de ID, no es muy recomendable */
#titulo {
    color: steelblue;
    font-size: 50px;
}